<ion-header>
  <ion-toolbar>
    <ion-title>
      Nouvelle bière
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" name="name" ngModel required></ion-input><br>
        </ion-item>

        <ion-item>
            <ion-label for="price"> Price</ion-label><br>
            <ion-input type="number" name="price" ngModel required></ion-input><br>
          </ion-item>

          <ion-item>
            <ion-label for="degree"> Degree</ion-label><br>
            <ion-input type="number" name="degree" ngModel required></ion-input><br>
          </ion-item>

          <ion-item>
            <ion-label for="image"> Image</ion-label><br>
            <ion-input type="text" name="image" ngModel required></ion-input><br>
          </ion-item>

          <ion-item>
            <ion-label for="date"> Date</ion-label><br>
          <ion-input type="date" name="date" ngModel required></ion-input><br>
        </ion-item>

        <div margin>
         <ion-button color="success" type="submit" size="full">Ajouter</ion-button>
         <!-- (click)="alertDel(beer.key)" -->
        </div>
      </form>
</ion-content>
