<ion-header>
  <ion-toolbar>
    <ion-title>
      Bières
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let beer of liste" margin>
    <ion-col>
      {{ beer?.values?.name }}
    </ion-col>
    <ion-row>
      <ion-col>
        {{ beer?.values?.price }} €
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self: center>
        <ion-button class="btn btn-info btn-xs mr-4" [routerLink]="['/detail', beer.key]"> More</ion-button>
        <ion-button color="warning" [routerLink]="['/edit', beer.key]"> Edit</ion-button>
        <ion-button color="danger" (click)="deleteBeer(beer.key)"> Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
