<ion-header>
  <ion-toolbar>
    <ion-title>
      Bières
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row *ngFor="let beer of liste" margin justify-content-around>
    <ion-item>
      <ion-col align-self-stretch>
        {{ beer?.values?.name }}
        {{ beer?.values?.price }} €
      </ion-col>
    </ion-item>
    <ion-row>
      <ion-col col-12 col-sm>
        <ion-button [routerLink]="['/detail', beer.key]">More</ion-button>
        <ion-button color="warning" [routerLink]="['/edit', beer.key]">Edit</ion-button>
        <ion-button color="danger" (click)="deleteBeer(beer.key)">X</ion-button>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
