<ion-header>
    <ion-toolbar>
      <ion-title>
        {{ beer?.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-row margin>
      <ion-col col-6>
        Degree : {{ beer?.degree }}°<br/>
        Date : {{ beer?.date | date:'short'}}<br/>
        {{ beer?.price }} €<br/>
        <ion-button>Retour aux bières</ion-button>
      </ion-col>
      <ion-col col-6>
          <img src="{{ beer?.image }}" alt="{{ beer?.name }}">
      </ion-col>
    </ion-row>
  </ion-content>
  