<ion-header>
    <ion-toolbar>
      <ion-title>
        {{ beer?.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-row margin>
      <ion-col>
        <img src="{{ beer?.image }}" alt="{{ beer?.name }}">
      </ion-col>
    </ion-row>
    <ion-row margin text-justify>
      <ion-col>
        Degree : {{ beer?.degree }}°<br/>
        Date : {{ beer?.date | date:'short'}}<br/>
        {{ beer?.price }} €<br/>
        <ion-button [routerLink]="['']">Retour aux bières</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
  